<div id="center"></div>
<div id="webcam"></div>
<script type="text/javascript">
    function onload_complete(msg) {
        // fetch the CSRF meta tag data
        var csrf_param = $('meta[name=csrf-param]').attr('content');
        var csrf_token = $('meta[name=csrf-token]').attr('content');

        // reset the api URL appending the auth token parameter
        webcam.set_api_url('<%= upload_photos_path %>' + '?' + csrf_param + "=" + encodeURI(encodeURI(csrf_token)));
    }

    function upload_complete(msg) {
        if (msg == 'ok') {
            $('#photo_form').show();
        } else {
            alert('An error occured');
            webcam.reset();
        }
    }

    webcam.set_swf_url('/webcam.swf');
    webcam.set_api_url('<%= upload_photos_path %>');
    webcam.set_quality(100);
    webcam.set_shutter_sound(true, '/shutter.mp3');
    webcam.set_hook('onLoad', 'onload_complete');
    webcam.set_hook('onComplete', 'upload_complete');
    $('#webcam').html(webcam.get_html(640, 480));
    
    $(function() {
      $(document).keydown(function(event) {
        if (event.keyCode == 32) {
          console.log('space pressed');
          webcam.snap();
        }
      });
    });
</script>

<div id="cube_progress">
  cube so far
</div>

<%= form_for Photo.new, :html => {:style => "display: none;", :id => "photo_form"} do |f| %>
    <%= hidden_field_tag "cube_id", params[:cube_id] %>
    <p>
      <%= f.submit "Save the photo" %>
      or <%= link_to "Take another", new_photo_path %>
    </p>
<% end %>